<ion-content [fullscreen]="true">
	<ion-list>
        <ion-item *ngFor="let verbo of verbosCtrl.verbosResumido">
          <ion-label>
            <h2>{{ verbo.v }} </h2>
            <p *ngFor="let s of verbo.s">{{ s }}</p>
          </ion-label>
        </ion-item>
	</ion-list>
</ion-content>
