.pregunta ion-col:first-child
{
	padding-left: 10px;
}

.pregunta ion-col:nth-child(2)
{
	padding-right: 10px;
}

.tarjetaPregunta
{
	background-color: PowderBlue;
}

.botonSiguiente
{
	/*background-color: Navy;*/
	background-color: #488aff;
}

.tarjetaRespuesta{

		background-color: #bfe6eb;
}

.respuetaCorrecta
{
	background-color: LimeGreen;
}

.respuestaErronea
{
	background-color: red;
	color: white;
}

.botonRespuesta
{
	/*background-color: blue;*/
	background-color: #488aff;
}

ion-footer ion-col:first-child
{
	background-color: #28ba62;
}

ion-footer ion-col:nth-child(2)
{
	background-color: #cf3c4f;
	color: white;
}

ion-footer ion-col:nth-child(3)
{
	background-color: #36abe0;
}

ion-footer ion-col:nth-child(4)
{
	background-color: #42d77d;
}

ion-footer ion-icon
{
	display: inline-block;
	font-size: 2em;
	vertical-align: middle;
}
   
ion-footer span
{
	display: inline-block;
	vertical-align: middle;
}