 <ion-content *ngIf="pregunta" [fullscreen]="true">
	<ion-card class="tarjetaPregunta">
		<ion-card-content *ngIf="pregunta.tipo == 0">
			What is the meaning of the verb "{{ pregunta.pregunta }}"?
		</ion-card-content>
		<ion-card-content *ngIf="pregunta.tipo == 1">
			What is the correct English form of the verb "{{ pregunta.pregunta }}"?
		</ion-card-content>
	</ion-card>
	
	<ion-grid class="pregunta">
		<ion-row>
			<ion-col size="6">
				<ion-button class="ion-float-left" color="primary" (click)="botonRespuesta()">
					<ion-icon slot="icon-only" name="eye"></ion-icon>
				</ion-button>
			</ion-col>
			<ion-col size="6">
				<ion-button class="ion-float-right" color="primary" (click)="botonSiguiente()">
					<ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-card (click)="responder(0)" [ngClass]="respuestasClases[0]">
		<ion-card-content>{{ pregunta.respuestas[0] }}</ion-card-content>
	</ion-card>
	<ion-card (click)="responder(1)" [ngClass]="respuestasClases[1]">
		<ion-card-content>{{ pregunta.respuestas[1] }}</ion-card-content>
	</ion-card>
	<ion-card (click)="responder(2)" [ngClass]="respuestasClases[2]">
		<ion-card-content>{{ pregunta.respuestas[2] }}</ion-card-content>
	</ion-card>
	<ion-card (click)="responder(3)" [ngClass]="respuestasClases[3]">
		<ion-card-content>{{ pregunta.respuestas[3] }}</ion-card-content>
	</ion-card>

</ion-content>

<ion-footer class="ion-no-border">
	<ion-grid>
		<ion-row *ngIf="pregunta" style="text-align: center; font-weight: bold;">
			<ion-col size="3">
				<ion-icon name="checkmark-outline"></ion-icon>
				<span>{{ verbosCtrl.aciertos }}</span>
			</ion-col>
			<ion-col size="3">
				<ion-icon name="close-outline"></ion-icon>
				<span>{{ verbosCtrl.fallos }}</span>
			</ion-col>
			<ion-col size="3">
				<ion-icon name="chevron-forward-outline"></ion-icon>
				<span>{{ verbosCtrl.ignorados }}</span>
			</ion-col>
			<ion-col size="3">
				<ion-icon name="checkmark-outline"></ion-icon>
				<span>{{ verbosCtrl.porcentajeAciertos }} %</span>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>