<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="preguntas">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Tests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="verbs">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Verbs</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
